/*******************************************
 * Headers
 *******************************************/
@mixin header-defaults($font-size, $margin) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: $font-size;
    margin-top: $margin;
    margin-bottom: $margin;
}

h1 {
    @include header-defaults(2em, 0.67em);
}

h2 {
    @include header-defaults(1.5em, 0.83em);
}

h3 {
    @include header-defaults(1.17em, 1em);
}

h4 {
    @include header-defaults(1em, 1.33em);
}

h5 {
    @include header-defaults(.83em, 1.67em);
}

h6 {
    @include header-defaults(.67em, 2.33em);
}

/*******************************************
* Text blocks
********************************************/

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

/********************************************
* Lists
*********************************************/
%base-list {
    display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;  
}

ul { 
    @extend %base-list;
    list-style-type:square;
}

ol {
    @extend %base-list;
    list-style-type: decimal-leading-zero;
}

li {
    display: list-item;
}

/*************************************
* Navigation
**************************************/
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { 
        display: inline-block;
        border-style: solid;
        border-width: 0px 2px 0px 0px;
        border-color: $color-foreground;
        &:first-child {
            a {
                margin-left: 0
            }        
        }
        &:last-child {
            border: none;
        }
    }

    a {
      color: $color-foreground;
      display: block;
      margin-left: -4px;
      padding: 6px 12px;
      text-decoration: none;
      &:hover {
        color:  $color-foreground-inverted;
        background: $color-background-inverted;
      }
    }
}

/*******
/* classes
*******/

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
  }
  

