$button-border-radius:3px;
$button-margin: 5px;
.button {
	.caret {
		margin-left: 0;
	}
	@extend %font-style-button;
    color: $color-foreground;
	border-radius: $button-border-radius;
	padding: 7px 12px;
	margin-right: $button-margin;
	border: 1px solid $color-foreground;
	background-image: linear-gradient($color-background, $color-background-gradient);
    cursor: pointer;
}

.button:last-child {
	margin-right: 0;
}

.button--state-success {
	color: $color-foreground-inverted;
	background:$color-ok linear-gradient($color-ok, $color-ok-gradient) repeat-x;
}

.button--state-danger {
	color: $color-danger;
	cursor: not-allowed;
}

.button-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	>.button {
		position: relative;
		float: left;
	}
	.button {
		margin: 0;
		border-radius: 0;
	}
	.button:first-child {
		margin-right: -$button-margin;
		border-top-left-radius: $button-border-radius;
		border-bottom-left-radius: $button-border-radius;
	}
	.button:last-child {
		margin-left: -$button-margin;
		border-top-right-radius: $button-border-radius;
		border-bottom-right-radius: $button-border-radius
	}
}