.panel {
    display: flex;
    flex-direction: column;
    border: 2px solid $color-panel;
    border-radius: 8px;
    box-sizing: border-box;
    .panel-heading {
        height: 1.5em;
        padding: .25em;
        background-color: $color-panel;
        color: $color-foreground-inverted;
    }
    .panel-body {
        flex: 1;
        @extend %content-centered;
        flex-direction: column;
        background-color: $color-background;
        color: $color-foreground;
        .option {
            margin-top: 5px;
        }
    }
}

.panel-group {
    margin-bottom: 20px;
    .panel {
        margin-bottom: 0;
        border-radius: 4px;
        .panel-body {
            padding: 15px;
        }
    }
    .panel + .panel {
        margin-top: 5px;
    }
    .panel-heading {
        border-bottom: 0;
    }
}

.panel-default {
    border-color: $color-panel;
}

.panel-default>.panel-heading {
    color: $color-foreground;
    background-color: $color-background;
    border-color: $color-background-graphic;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: $color-background-graphic;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    a {
        cursor: pointer;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}