.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}

.tabs-inline-content {
    display: flex;
    .navigation {
        display: flex;
        ul {
            display: flex;
            flex-direction: column;
            li {
                a {
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .content {
        flex: 1;
        @extend %content-centered;
    }
}
  