$color-ok: lightgreen;
$color-ok-gradient: green;
$color-warning: yellow;
$color-danger: red;
$color-foreground: black;
$color-background: white;
$color-foreground-inverted: white;
$color-background-inverted: black;
$color-background-gradient: lightgrey;
$color-background-graphic: darkgrey;
$color-main-head-and-footer-background: blue;
$color-main-head-and-footer-foreground: white;
$color-settings-background: lightgrey;
$color-panel: rgb(24, 154, 197);